@charset "utf-8";

main{
    width:1280px;
    height: 100vh;
    margin-left: 320px;
    margin-right: -300px;
    background: yellow;
}
section {
    border : 10px solid blue;
    display: flex;
}

article video {
    width : 600px;  
    border : 5px solid rgb(130, 182, 238)
    
}

article .descript {
    text-align: justify;
    margin-left:100px;
}

